div.scrollable_bulletin{
    background-color:skyblue;
    width: 100%;
    height: 110px;
    overflow: auto;
    border-radius: 5px;
}

div.message{
    background-color:royalblue;
    border-radius: 2.5px;
}