#titled_block{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-decoration: underline;
}
.title {
    text-align:center;
    font-size: 40px;
}

.paragraph{
    text-align: justify;
    font-size: 14px;
}