.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: royalblue;
    color:#fff;
    z-index: 1000;
    height: 54px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    display: table;
    padding-left: 60px;

    border-bottom-style: solid;
    border-bottom-color: skyblue;
    border-width: 10px;
}

.page_title {
    text-align: center;
    margin-top: 72px;
    font-size: 48px;
    color: crimson;
}


.language_toggle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #bb141100;
    z-index: 10;
    height: 20px;
    overflow: hidden;
    text-align: right;
    vertical-align: top;
}


.button{
    background-color:royalblue; /* Green */
    border: none;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin: 12px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 13px 10px;
}


.button:hover{
    background-color: skyblue;
    opacity: 0.8;
}