.centered_img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@keyframes fadeinAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.img_hover{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

.water_mark {
    transition: .4s ease;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.img_hover:hover .centered_img{
    opacity: 0.65;
}


.img_hover:hover .water_mark{
    opacity: 1;
}