.info_block{
    width: 100%;
}

.info_block_title{
    font-size: 3VW;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 40px;
}

@media screen and (max-width: 780px) {
    .info_block_title  {
        margin-top: 5%;
        margin-bottom: 0;
        font-size: 5VW;
    }
}

.info_block_paragraph{
    font-size: 2VW;
    width: 100%;
    margin-top: 10px;
    text-align: justify;
    color: white;
}

@media screen and (max-width: 780px) {
    .info_block_paragraph  {
        font-size: 3VW;
    }
}

.info_block_button{
    font-size: 2VW;
    margin-top: 2VW;
    margin-right: 0;
    text-align: center;
    background-color:skyblue; /* Green */
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.5s ease-out;
    border-radius: 10px;
    font-size: 2.5VW;
    padding-top: 0.8VW;
    padding-bottom: 0.8VW;
    opacity: 1;
    z-index: 901;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .info_block_button  {
        font-size: 3.5VW;
        padding-top: 1.2VW;
        padding-bottom: 1.2VW;
    }
}


.info_block_button:hover{
    opacity: 0.65;
    
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.info_block_cell_container{
    width: 100%;
    padding-top: 15%;
    margin-left : auto;
    margin-right : auto;
    position: relative;
}

@media screen and (max-width: 780px) {
    .info_block_cell_container  {
        padding-top: 2%;
    }
}

.info_block_cell{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}


.info_block_top_banner{
    background: skyblue;
    color:white;
    text-align: center;
    font-size: 5VW;
    width: 50%;
    z-index: 900;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
    padding: 10px 80px;
    border-radius: 5px 30px 30px 5px;
    box-shadow: 2.5px 2.5px 5px darkblue;
}

@media screen and (max-width: 780px) {
    .info_block_top_banner  {
        width: 75%;
        font-size: 7.5VW;
        padding: 10px 40px;
        margin-bottom: -20px;
    }
}


.info_block_graphic_title{
    margin-top: 40px;
    background: transparent;
    color:white;
    display: inline-block;
    text-align: center;
    font-size: 3VW;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .info_block_graphic_title  {
        margin-top: 20px;
        font-size: 5VW;
    }
}