/* Slideshow container */
.slideshow_container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.slider_botton_container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    transition: 500ms ease-out;
    opacity: 1;
}

.slider_botton_container_right {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    transition: 500ms ease-out;
    opacity: 1;
}

.slider_botton_container_right :hover{
    opacity: 0.65;
    cursor: pointer;
}

.slider_botton_container :hover{
    opacity: 0.65;
    cursor: pointer;
}




  