.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #bb1411;
    color:#fff;
    z-index: 1000;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    display: table;
}

.header > .nav_bar{
    display: table-cell;
    text-align:right;
    vertical-align: middle;
}

.header > .language_toggle{
    display: table-cell;
    text-align:right;
    vertical-align: top;
}

.header > .link_icon{
    display: table-cell;
    text-align:left;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.button{
    box-align: center;
    vertical-align: bottom;
    background-color: #ce3f3f; /* Green */
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}